# Configuración de Base de Datos
# URL de la base de datos en formato DSN
URL_DATABASE=mysql://mariadb:c6873d0542d664ca4ff1@cloudmx_whatscloud-db:3306/whatscloud-db

# Configuración de la aplicación
APP_ENV=production
APP_DEBUG=false

# API Key de la aplicación
API_KEY=sdfgsdgdsfgh4356e45rdfhdfgh5rdfhfgjrtrer